@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow:wght@400;600&family=Be+Vietnam+Pro:wght@400;500;700&family=Big+Shoulders+Display:wght@700&family=Commissioner:wght@400;500;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@300;400;500;700&family=Josefin+Sans:wght@300;400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;600;700&family=Lexend+Deca&family=Manrope:wght@500;600;700;800&family=Open+Sans:wght@400;700&family=Outfit:wght@400;700;800&family=Overpass:wght@300;600&family=Poppins:wght@500;700&family=Public+Sans:wght@300;400;700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Space+Mono:wght@700&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --Cyan: hsl(180, 66%, 49%);
    --cyanLight:hsla(180, 66%, 49%, 0.14);
    --Dark-Violet: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --Gray: hsl(0, 0%, 75%);
    --Grayish-Violet: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0 auto;
    font-family: 'Poppins', sans-serif;
}
.container{
    overflow-x: hidden;
    text-align: center;
}
a{
    cursor: pointer;
}
/* HEADER SECTION */
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    /* border:2px solid red; */
}
/* HEADER HAMBURGER MENU */
header nav{
    position: absolute;
    top:90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:90%;
    padding:20px;
    background-color: var(--Dark-Violet);
    border-radius: 12px;
    display: none;
    z-index:2;
    /* border:2px solid green; */
}
header nav a{
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    margin: 5px 0;
    color:white;
    cursor: pointer;
    font-weight: 700;
}
header nav ul{
    display: flex;
    flex-direction: column;
    border-top:1px solid var(--Gray);
    margin-top: 15px;
    padding:20px 0;
    width:100%;
}
header nav ul button{
    padding:15px 0;
    border-radius: 30px;
    border:none;
    outline: none;
    background-color: transparent;
    color:white;
    font-size: 18px;
    font-weight: 700;
    /* border:2px solid black; */
}
header nav ul button:not(:first-child){
    margin:-10px 0 0;
    background-color: var(--Cyan);
}
.close{
    display: none;
}

/* BODY CONTENT */
.headerBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    background-color: white;
}
.headerBanner img{
    width:130%;
    position: relative;
    left:80px;
    padding:20px 0;
    margin:0 0 20px;
}
h2{
    font-size: 40px;
    line-height: 3rem;
    padding:10px 30px;
    color: var(--Very-Dark-Violet);
}
p{
    font-size: 20px;
    padding:20px 0px;
    line-height: 2rem;
    color:var(--Gray);
}
button{
    padding:12px 30px;
    margin:20px 0 30px;
    background-color: var(--Cyan);
    border:none;
    border-radius:40px;
    font-size: 19px;
    color:white;
    cursor: pointer;
}
.formResultSection{
    /* border:2px solid greenyellow; */
    /* width:90%; */
    position: relative;
    background-image: url(images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 70%;
    background-color: var(--Dark-Violet);
    padding:20px 0;
    margin:0 20px;
    border-radius: 8px;
    position: relative;
}
.formResultSection input{
    width:90%;
    height: 45px;
    padding:10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border:none;
    outline: none;
}
.formResultSection p{
    /* position: absolute; */
    color:red;
    font-size: 16px;
    margin:0;
    padding:0 23px;
    display: none;
    text-align: left;
}
.formResultSection button{
    width:90%;
    border-radius: 8px;
    margin:20px 0 10px;
}

/* MAINBODY SECTION */

.mainbody{
    background-color: var(--cyanLight);
    padding:200px 10px 30px;
    position: relative;
    top:-90px;
    z-index: -1;
    margin:0;
    /* border:2px solid black; */
}
.mainbody h3{
    font-size: 28px;
}
.mainbody p{
    font-size: 19px;
}
.mainbody div.span{
    width:10px;
    height:180vh;
    position: absolute;
    top:500px;
    left: 49%;
    z-index: -1;
    background-color: var(--Cyan);
}
.mainbody div:not(:first-child, :nth-child(2)){
    /* border:2px solid black; */
    background-color: white;
    border-radius: 10px;
    padding:5px 10px 20px;
    margin:120px 10px;
    position: relative;
} 
.mainbody div aside{
    position: relative;
    top:-50px;
    /* left:35%; */
    /* width:30%; */
    background-color: var(--Dark-Violet);
    padding:22px 12px;
    margin:0 35%;
    border-radius: 100px; */
    /* border:2px solid black;
    /* left:0; */
}
.mainbody div:last-child aside{
    width:33%;
    
}
.mainbody div img{
    text-align: center;
}
.mainbody div:not(:first-child) h3{
    font-size: 23px;
}
.mainbody div:not(:first-child) p{
    font-size: 18px;
}
.footerHead{
    background-image: url(images/bg-boost-mobile.svg);
    background-size: cover;
    background-color:var(--Dark-Violet);
    position: relative;
    top:-90px;
    padding: 90px 0;
}
.footerHead h3{
    font-size: 27px;
    color: white;
}
footer{
    background-color: var(--Very-Dark-Blue);
    /* position: absolute; */
    margin-top:-90px;
    width:100%;
    padding:20% 0;
    z-index:-1;
} 
footer .footLogo{
    /* filter:invert(130%); */
    margin:20px 0 30px;
}
footer h3{
    font-size: 25px;
    color:white;
    margin:35px 0;cursor: pointer;
}
footer section{
    color:var(--Gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* border:2px solid black; */
} 
footer section a{
    color:var(--Gray);
    font-size: 20px;
    margin:10px 0;
    padding:5px 0;
    text-decoration: none;
    cursor: pointer;
}
footer svg{
    margin:20px 10px;
}
footer svg path:hover,
footer a:hover{
    color:var(--Cyan);
    fill:var(--Cyan);
}
footer div{
    color: white;
}

/* HOVER EFFECT */
button:hover{
    opacity: .5;
}
header nav a:hover{
    color:var(--Very-Dark-Blue);
}
footer section a:hover{
    color:var(--Cyan);
}
.result{
    /* border:2px solid black; */
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; */
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.466);
    padding:10px 0;
    margin:30px 20px;
    text-align: left;
    border-radius: 10px;
}
.fromJs{
    font-size:14px;
    /* border:1px solid var(--Gray); */
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:5px 0px 0;
    padding:5px 10px;
    color:var(--Very-Dark-Blue);
    font-weight: 800;
}
li{
    list-style: none;
    /* border:2px solid black; */
    /* width:100%; */
    padding:5px 10px;
    color:var(--Cyan);
}
.hr{
    width:100%;
    height:2px;
    margin:5px 0 10px;
}
.result button{
    margin:10px 10px;
    width:95%;
    border-radius: 6px;
}
@media screen and (min-width:700px) {
    
}